  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }

  a {
      text-decoration: none;
      display: inline-block;
  }

  ul ol li {
      list-style: none;
  }

  body {
      font-family: 'Poppins', sans-serif;
      margin-top: 150px;
  }

  .container {
      width: 1440px;
      margin-right: auto;
      margin-left: auto;
  }

  .container_body {
      display: flex;
      justify-content: center;
      padding: 121px 165px 121px 165px;
      align-items: center;
      background-image: url(../img/bg_img.svg);
  }

  .course_inputs {
      width: 540px;
      flex-shrink: 0;
      border-radius: 10px;
      background-color: #FFF;
      box-shadow: 0px 8px 0px 0px #00000026;
      padding: 40px;
  }

  .course_title {
      color: #FFF;
      font-size: 50px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: -0.521px;
      width: 525px;
      margin-bottom: 30px;
  }

  .course_cost {
      width: 540px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #5E54A4;
      box-shadow: 0px 8px 0px 0px #00000026;
      margin-bottom: 24px;
  }

  .course_text {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      width: 525px;

  }

  .course_cost_link {
      color: #FFF;
      text-align: center;
      padding: 17px 110px;
      font-size: 15px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.268px;
      font-weight: 400;
  }

  .sign_in_inputs {
      width: 460px;
      height: 56px;
      flex-shrink: 0;
      border-radius: 5px;
      border: 1px solid #5E54A4;
      background-color: #FFF;
  }

  .course_inputs {
      border-radius: 10px;
      background-color: #FFF;
      padding: 40px;
      box-shadow: 0px 8px 0px 0px #00000026;
      width: 540px;
      flex-shrink: 0;
  }

  .sign_in_inputs {
      padding: 15px 35px 15px 32px;
      width: 460px;
      color: #3D3B48;
      font-size: 14px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0.25px;
      opacity: 0.75;
      border-radius: 5px;
      border: 1px solid #DEDEDE;
      background: #FFF;
      margin-bottom: 20px;
  }

  .course_purchase {
      width: 460px;
      flex-shrink: 0;
      border-radius: 5px;
      background-color: #38CC8B;
      box-shadow: 0px -4px 0px 0px #00000017;
  }

  .purchase_btn {
      color: #FFF;
      padding: 15px 13px;
      font-size: 15px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 1px;
  }

  .terms {
      color: #BAB7D4;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      line-height: 26px;
  }

  .terms_style {
      color: #FF7979;
      font-size: 11px;
      font-weight: 700;
      line-height: 26px;
  }